*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #222222;
    font-family: Montserrat;
    /* text-transform: uppercase; */
    
}
body{
    width: 100%;
    background-color: #F3ECDA;
    justify-content: center;
}

.top-bar{
    height: 42px;
    width: 100%;
    background-color: #3FDFD0;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 300;
    justify-content: space-around;
}



header .main{
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    

}

.searchbar input{
    border-radius: 53px;
    outline: none;
    border: 1px solid;
    border-color: #3FDFD0;
    height: 42px;
    width: 509px;
}

.track-button button{
    border-radius: 138px;
    height: 41.11px;
    width: 200.9px;
    border: 1px solid;
    border-color: #3FDFD0;
    background-color: #3FDFD0;
}

header nav{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    height: 65px;
    font-size: 13px;
    font-weight: 300;
}

/*body*/