*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #222222;
    font-family: Montserrat;
    /* text-transform: uppercase; */
    
}
body{
    width: 100%;
    background-color: #F3ECDA;
    justify-content: center;
}

.top-bar{
    height: 42px;
    width: 100%;
    background-color: #3FDFD0;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 300;
    justify-content: space-around;
}



header .main{
    height: 88px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    

}

.searchbar input{
    border-radius: 53px;
    outline: none;
    border: 1px solid;
    border-color: #3FDFD0;
    height: 42px;
    width: 509px;
}

.track-button button{
    border-radius: 138px;
    height: 41.11px;
    width: 200.9px;
    border: 1px solid;
    border-color: #3FDFD0;
    background-color: #3FDFD0;
}

header nav{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    height: 65px;
    font-size: 13px;
    font-weight: 300;
}

/*side navigation */

.side_nav_items{
    width: 11vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #4FB2A0;
    padding: 0.5rem;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 13px;
/* identical to box height, or 96% */

letter-spacing: 3.36px;
text-transform: uppercase;
}

.Lavanya_picks{
    margin-top: 15px;
    width:60vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:25%;
    left: 20%;
}
.sort_nav_list{
    display: flex;
    justify-content: space-around;
    width: 8vw;
    border: 1px solid ;
    padding: 1px;
    background: #F3ECDA;
border: 1px solid rgba(63, 223, 208, 0.4);
box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.07);
border-radius: 53px;
}
/*saree_list_container*/

.saree_container{
    width: 65vw;
    position: absolute;
    top:33%;
    left:20%;
    ;
}
.saree_list_container{
   display: flex;
   justify-content: space-around;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;  
   letter-spacing: 1px;
   text-transform: uppercase;
   margin-bottom: 20px;
}
/*page_no*/

.page_no{
    position: absolute;
    top:470%;
    left:43%;
    font-family: 'Montserrat';
  font-style: normal;
   font-weight: 400;
  font-size: 14px;
   line-height: 14px;
  text-align: center;
  letter-spacing: 1.05px;
  color: #050505;
}
.page_no button{
    margin: 3px;
    font-size: 17px;
    border: 1px solid rgba(63, 223, 208, 0.4);
box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.07);
border-radius: 53px;
}
.next{
    background-color:  #3FDFD0;
    border-radius: 55px;
    padding: 10px;
}